.block-footer {
    padding-top: 20px;
    margin-top: 80px;
    border-top: 1px solid #F5F5F5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    .btn {
        border-radius: 16px;
    }

    &--end {
        align-items: flex-end;
    }

    .input {
        width: auto;
        flex: 1 0 auto;
    }
}

.block-footer__btns {
    display: flex;
    gap: 10px;
}

.block-footer__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        color: rgba(7, 23, 13, 0.4);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        margin: 0;
    }
}

.block-footer__head {
    width: 100%;
    max-width: 530px;
}

.block-footer__title {
    color: #07170D;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 0;
    margin-bottom: 5px;
}

.block-footer__text {
    color: rgba(7, 23, 13, 0.4);
    font-family: Commissioner;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    margin-bottom: 10px;
}