.border-l {
    color: #07170D;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E9EFF1;
    

    p {
        padding-left: 16px;
        margin: 0;
        border-left: 1px solid #009B51;
    }
}