.input {
    border-radius: 6px;
    background: rgba(245, 247, 249, 0.2);
    padding: 0 20px;
    color: #07170D;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    height: 54px;
    width: 100%;
    border: 1px solid #E8ECF0;

    border-radius: 6px;
    background: #F5F7F9;
    padding: 0 20px;

    &:focus-visible {
        outline: none;
    }

    &--icn {
        padding-right: 40px;
    }

    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgba(7, 23, 13, 0.2);
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba(7, 23, 13, 0.2);
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba(7, 23, 13, 0.2);
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgba(7, 23, 13, 0.2);
    }
}

.textarea {
    color: #07170D;
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgba(7, 23, 13, 0.2);
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba(7, 23, 13, 0.2);
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba(7, 23, 13, 0.2);
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgba(7, 23, 13, 0.2);
    }
    &:focus-visible {
        outline: none;
    }
}