.title-page {
    max-width: 840px;
    font-size: 38px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .status {
        font-size: 14px;
        font-weight: 500;
        color: #E9584E;
    }
}





