.filter-pan 
    a.filter-pan__link.active(href="" data-count="(3)") Все
    a.filter-pan__link(href="") Важные
    a.filter-pan__link(href="") Объявления
    a.filter-pan__link(href="" data-count="(3)") Информационные