extends templates/layout

block content
    .content
        h1.title-page Баланс
        .tabs 
            .tabs__caption 
                a(href="lk-balance-common.html") Основное
                a.active История
                a(href="lk-balance-withdrawal.html") Вывод средств
            .tabs__content.tabs__content--m  
                .resp-tab
                    table.resp-tab__wrap 
                        thead 
                            tr 
                                th Дата
                                th ID
                                th Сумма, ₽
                                th Тип
                        tbody 
                            tr
                                td 20.03.2022
                                td 2435675432
                                td 86 000
                                td Пополнение баланса
                            tr
                                td 20.03.2022
                                td 2435675432
                                td 86 000
                                td Пополнение баланса
                            tr
                                td 20.03.2022
                                td 2435675432
                                td 86 000
                                td Пополнение баланса
                            tr
                                td 20.03.2022
                                td 2435675432
                                td 86 000
                                td Пополнение баланса
                            tr
                                td 20.03.2022
                                td 2435675432
                                td 86 000
                                td Пополнение баланса