extends templates/layout

block content
    .content
        h1.title-page Профиль
        .tabs 
            .tabs__caption 
                a(href="lk-profile-personal.html") Личные данные
                a(href="lk-profile-pass.html") Смена пароля
                a.active Подписка
            .tabs__content.tabs__content--m 
                .profile 
                    form.form
                        h3.form__title Подписка
                        p Платформа доступка для использования в бесплатном режиме до 01.10.2023 (00:00 по мск). 
                        p Далее происходит начисление абонентской платы (3000 рублей), в случае если на счёте в личном кабинете не будет достаточно средств доступ к площадке будет приостановлен до списания абонентской платы.
                        p Для пополнения счета личного кабинета необходимо выставить счёт с необходимой суммой пополнения, после оплаты счета денежные средства зачислятся на Ваш счёт в личном кабинете электронной площадки. 

                .block-footer.block-footer--end 
                    .block-footer__content
                        p Введите сумму, на которую хотите пополнить баланс. Скачайте и оплатите счёт в отделении банка или через QR-код в мобильном приложении банка.
                        input.input.block-footer__input(type="text" placeholder="Введите сумму")
                    .block-footer__btn 
                        button.btn.btn--g.btn--m Выставить счёт